<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue.js"></script>
</head>
<body>
    <div id="box">
        <ul>
            <li v-for="(item, index) in datalist">
                {{item}} - {{index}}
            </li>
        </ul>

        <ul>
            <li v-for="(item, key) in obj">
                {{item}} - {{key}}
            </li>
        </ul>

        <ul>
            <li v-for="item in 10">
                {{item}}   <!-- 1, 2... 10 -->
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#box',
            data() {
                return {
                    datalist: ['111', '222', '333', '444'],
                    obj: {
                        name: 'kerwin',
                        age: 20,
                        gender: '男'
                    }
                }
            }
        })
    </script>
</body>
</html>